ul {
    padding: 0;
}

::ng-deep mat-expansion-panel-header {
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}
  
::ng-deep mat-panel-title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  